In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hithadhoo,MV,2020-08-27 17:30:13,-0.60,73.08,80.28,73,100,11.50
1,1,Bubaque,GW,2020-08-27 17:30:13,11.28,-15.83,80.71,78,84,11.63
2,2,San Pedro De Macoris,DO,2020-08-27 17:28:14,18.46,-69.30,91.40,62,40,4.70
3,3,Port Elizabeth,ZA,2020-08-27 17:27:41,-33.92,25.57,59.00,72,0,10.29
4,4,Kefamenanu,ID,2020-08-27 17:30:14,-9.45,124.48,65.95,80,56,2.91

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# # 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]
# # 2. Assign the weights variable to some values.
# temperatures = # an array of equal length of the locations array.
# # 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()
# # 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# # 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)
# # 6. Call the figure to plot the data.
# fig

In [6]:
# # Get the maximum temperature.
# max_temp = city_data_df['Max Temp']
# temps = []
# for temp in max_temp:
#     temps.append(max(temp,0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[['Lat', 'Lng']]

# Get the maximum temperature.
max_temp = city_data_df['Max Temp']

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp],
                                dissipating=False,
                                max_intensity=300,
                                point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the giure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent Humidity
# Get the latitude and longitude.
locations = city_data_df[['Lat', 'Lng']]

# Get the maximum temperature.
humidity = city_data_df['Humidity']

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                dissipating=False,
                                max_intensity=300,
                                point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the giure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent Cloudiness
# Get the latitude and longitude.
locations = city_data_df[['Lat', 'Lng']]

# Get the maximum temperature.
clouds = city_data_df['Cloudiness']

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
                                dissipating=False,
                                max_intensity=300,
                                point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the giure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of Windspeed
# Get the latitude and longitude.
locations = city_data_df[['Lat', 'Lng']]

# Get the maximum temperature.
wind = city_data_df['Wind Speed']

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
                                dissipating=False,
                                max_intensity=300,
                                point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the giure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temparature value.
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip '))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                      (city_data_df['Max Temp'] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hithadhoo,MV,2020-08-27 17:30:13,-0.60,73.08,80.28,73,100,11.50
1,1,Bubaque,GW,2020-08-27 17:30:13,11.28,-15.83,80.71,78,84,11.63
12,12,Castro,BR,2020-08-27 17:25:28,-24.79,-50.01,75.06,33,0,3.02
15,15,Atuona,PF,2020-08-27 17:30:15,-9.80,-139.03,78.76,75,61,21.92
20,20,Arraial Do Cabo,BR,2020-08-27 17:30:15,-22.97,-42.03,77.00,69,40,13.87
21,21,Ribeira Grande,PT,2020-08-27 17:30:15,38.52,-28.70,77.00,88,75,5.82
22,22,Karratha,AU,2020-08-27 17:30:15,-20.74,116.85,75.38,51,0,7.70
24,24,Kahului,US,2020-08-27 17:27:47,20.89,-156.47,78.80,69,40,10.29
26,26,Carnaiba,BR,2020-08-27 17:30:16,-8.70,-37.67,89.20,21,11,13.47
37,37,Nouadhibou,MR,2020-08-27 17:30:17,20.93,-17.03,89.60,55,0,17.22

In [13]:
# Check if there are any null values
preferred_cities_df.count()

City_ID       191
City          191
Country       191
Date          191
Lat           191
Lng           191
Max Temp      191
Humidity      191
Cloudiness    191
Wind Speed    191
dtype: int64

In [14]:
hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()
hotel_df['Hotel Name'] = ''
hotel_df.head(10)

               City Country  Max Temp    Lat     Lng Hotel Name
0         Hithadhoo      MV     80.28  -0.60   73.08
1           Bubaque      GW     80.71  11.28  -15.83
12           Castro      BR     75.06 -24.79  -50.01
15           Atuona      PF     78.76  -9.80 -139.03
20  Arraial Do Cabo      BR     77.00 -22.97  -42.03
21   Ribeira Grande      PT     77.00  38.52  -28.70
22         Karratha      AU     75.38 -20.74  116.85
24          Kahului      US     78.80  20.89 -156.47
26         Carnaiba      BR     89.20  -8.70  -37.67
37       Nouadhibou      MR     89.60  20.93  -17.03

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the latitude and longitude to location key for the params dictionary.
    params['location'] = f'{lat},{lng}'
    
    # Use the search term: 'lodging' and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found...skipping.')

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [16]:
hotel_df.head(10)

               City Country  Max Temp    Lat     Lng            Hotel Name
0         Hithadhoo      MV     80.28  -0.60   73.08     Scoop Guest House
1           Bubaque      GW     80.71  11.28  -15.83             Casa Dora
12           Castro      BR     75.06 -24.79  -50.01        CHACARA BAILLY
15           Atuona      PF     78.76  -9.80 -139.03           Villa Enata
20  Arraial Do Cabo      BR     77.00 -22.97  -42.03   Pousada Porto Praia
21   Ribeira Grande      PT     77.00  38.52  -28.70   Quinta da Meia Eira
22         Karratha      AU     75.38 -20.74  116.85  ibis Styles Karratha
24          Kahului      US     78.80  20.89 -156.47    Maui Seaside Hotel
26         Carnaiba      BR     89.20  -8.70  -37.67
37       Nouadhibou      MR     89.60  20.93  -17.03             El Medina

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[['Lat', 'Lng']]

# Get the maximum temperature.
max_temp = hotel_df['Max Temp']

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
                                dissipating=False, max_intensity=300,
                                point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 6. Call the giure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))